.idea/
### Scala template
*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
project/metals.sbt
.bsp/
.bloop/
.metals/

# Scala-IDE specific
.scala_dependencies
.worksheet
